<div class="login-container">
    <form class="login-form" action="check_login" method="post">
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Enter your email" class="login-input" required>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter your password" class="login-input" required>
        </div>
        <button class="login-btn">Log In</button>
        <p class="signup-link">Don't have an account yet? <a href="/register">Sign up</a></p>
    </form>
</div>