<div class="login-container">
    <div><h1 class="register-title">Welcome to Forkast!</h1></div>
    <div><p>Log in to start or register if you don't have an account yet</p></div>
    <a href = "/login">
        <button class="login-btn">Log In</button>
    </a>
    <a href = "/register">
        <button class="login-btn">Sign-up</button>
    </a>
</div>

