/**Start Page CSS**/
/* General styles */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #e9f5fc; 
}

/* Login container styles */
.login-container {
    width: 100%;
    max-width: 400px; 
    margin: 100px auto; 
    background-color: #fff;
    border-radius: 8px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    padding: 40px; 
    text-align: center;
}

/* Form and input group styles */
.login-form .input-group {
    margin-bottom: 20px; 
}

.login-form .input-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px; 
}

.login-input {
    width: calc(100% - 20px); 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    margin-bottom: 10px;
}

/* Login button styles */
.login-btn {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none; 
    background-color: #FDE767;
    color: white;
    cursor: pointer;
    font-size: 16px; 
    margin-top: 20px; 
}

/* Sign up link styles */
.signup-link {
    margin-top: 20px;
    color: #555;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .login-container {
        margin: 50px 20px; 
        padding: 20px; 
    }
}

/**End of css of Start Page**/


/**Register Styles**/

/* Container for the form */
.register-container {
    width: 50%;
    max-width: 700px; 
    margin: 50px auto; 
    padding: 20px;
    background-color: #fff;
    border-radius: 8px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

/* Form title */
.register-title {
    font-size: 24px; 
    text-align: center; 
    color: #333; 
    margin-bottom: 30px; 
}

/* Form group styling */
.form-group {
    margin-bottom: 15px; 
}

/* Labels */
.form-group label {
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold; 
}

/* Input fields */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 96%; 
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

input[type="date"] {
    width: 50%; 
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

input[type="checkbox"] {
    width: auto; 
    padding: 0; 
    margin-bottom: 10px; 
    border: none; 
    vertical-align: middle; 
}

/* Checkbox label alignment */
.user-agreement-label {
    display: inline; 
    margin-left: 5px; 
    font-size: 14px;
    color: #666;
    vertical-align: middle;
    text-align: justify; 
}

.form-group-checkbox {
    display: flex; 
    align-items: center; 
}

/* Submit button */
.create-btn {
    display: block; 
    width: 100%;
    padding: 15px; 
    font-size: 16px; 
    color: white; 
    background-color: #4CAF50; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    margin-top: 10px; 
}

.create-btn:hover {
    background-color: #449D44; 
}

.avatar_container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    vertical-align: middle;
    background-color: #e9f5fc;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px
}

.chosen_avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100px;
    background-color: #FDE767;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 2px;
}

.avatar_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 65%;
    height: auto;
    background-color: #FDE767;
    border: 1px solid black;
    border-radius: 4px;
    margin-left: 2px;
    padding: 8px;
}

.avatar_box{
    display: flex;
    flex-direction: column;
    background-color: #FDE767;
    border: 1px solid #FDE767;
    margin: 5px;
    align-items: center;
}

.avatar{
    border-radius: 50%;
    border: 1px solid black;
    width: 45px;
    height: 45px;
}


/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .register-container {
        width: 90%; 
        margin: 20px auto; 
    }
}

/**end of register styles**/

/**edit profile styles**/
.edit-profile-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 500px;
}